// PostId.jsx 페이지와 PostIdEdit.jsx 페이지에서 사용

.btn-set {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 1;

  .modify-btn,
  .return-btn {
    width: 50px;
    height: 50px;
    background-color: $white;
    border: 1px solid $gray-300;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: $gray-100;
      border: 1px solid $gray-400;
    }
    &:focus {
      background-color: $gray-200;
      border: 1px solid $gray-400;
      transition: background-color 0.25s ease;
    }
    @media screen and (max-width: 1248px) {
      position: relative;
      bottom: 50px;
      border-color: $gray-300;
    }
  }
  .return-btn > img {
    width: 30px;
    height: 30px;
  }
  .modify-btn > img {
    width: 25px;
    height: 25px;
  }
  .return-set,
  .modify-set {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
    .return-descipttion,
    .modify-descipttion {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      padding: 10px;
      border-radius: 5px;
      background-color: $gray-700;
      color: $white;
      visibility: hidden;
    }
    /* ✅ 버튼 hover 시 description 표시 */
    &:hover .return-descipttion,
    &:hover .modify-descipttion {
      visibility: visible;
      opacity: 1;
    }
  }
}
