.post-wrap {
  .tit {
    color: $gray-900;
  }
  .txt {
    color: $gray-500;
  }
  .input-box {
    margin-bottom: 50px;
  }
  .background-list {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 100%;
    .item {
      position: relative;
      width: 168px;
      height: 168px;
      border-radius: 16px;
      border: 1px solid rgba(0, 0, 0, 0.08);
      box-sizing: border-box;
      .check {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 44px;
        height: 44px;
        background: url("@/assets/imgs/post/checked.svg") no-repeat 0 0/44px auto;
        z-index: 1;
      }
      &.img {
        border: none;
        background-size: cover;
        background-position: center;
        cursor: pointer;
        overflow: hidden;
        &.active {
          &:before {
            content: "";
            position: absolute;
            inset: 0;
            background-color: rgba(255, 255, 255, 0.7);
            z-index: 1;
          }
        }
      }
      &.upload {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.08);
        .replace-btn {
          position: absolute;
          top: 6px;
          right: 6px;
          background: rgba(0, 0, 0, 0.6);
          color: #fff;
          border: none;
          border-radius: 50%;
          font-size: 12px;
          padding: 2px 4px;
          cursor: pointer;
          z-index: 1;
          padding-top: 1px;
        }
        .plus {
          &:after {
            content: "";
            display: block;
            width: 44px;
            height: 44px;
            background: url("@/assets/imgs/post/more_ico.svg") no-repeat 0 0/44px auto;
          }
        }
      }
    }
  }
  input[type="file"] {
    display: none;
  }
}
