.ActionBar{
  width:100%;
  height: 68px;
  padding: 13px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;


  .menu-wrapper{
    display: flex;
    gap:28px;
    align-items: center;
  }

  .profile-wrapper{
    display: flex;
    gap: 11px;
    align-items: center;
  }

  .reaction-wrapper{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    .badges{
      display: flex;
      gap:8px;
    }

    .reaction-window-btn{
      width:36px;
      cursor: pointer;
    }

    .reaction-window{
      max-width: 312px;
      padding:24px;
      background-color: #fff;
      box-shadow: 0 2px 12px rgba(0,0,0,0.08);
      display: grid;
      grid-template-columns: repeat(4,1fr);
      grid-template-rows: repeat(2, 1fr) auto;
      gap:10px;
      
      border:1px solid #B6B6B6;
      border-radius: 8px;

      position: absolute;
      top:40px;
    }
  }

  .btn-wrapper{
    display: flex;
    gap:13px;
    align-items: center;
  }

  .divider{
    width:1px;
    height: 28px;
    background-color: $gray-200;
  }
}