.header_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1207px;
  height: 62px;
  padding: 11px 0px;
  box-sizing: border-box;
}

.header_area button {
  font-family: "Pretendard";
  max-width: 157px;
  height: 40px;
  white-space: nowrap;
  border: 1px solid $gray-300;
  border-radius: 6px;
  padding: 8px 16px;
  color: $gray-900;
}
