.header_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1207px;
  height: 62px;
  padding: 11px 0px;
  box-sizing: border-box;
}

.header_area .header_btn {
  font-family: "Pretendard";
  max-width: 157px;
  height: 40px;
  white-space: nowrap;
  padding: 7px 16px;
}
