.message-card-wrapper {
  width: 100%;
  min-height: 100vh;

  .message-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3열 */
    max-width: 1248px;
    gap: 20px;
    padding: 60px 0 60px;
    margin: 0 auto;

    .message-card {
      display: flex;
      flex-direction: column;
      min-height: 280px;
      width: 100%;
      padding: 24px;
      background-color: $white;
      border-radius: 16px;
      box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);

      &.add-message-card {
        justify-content: center;
        align-items: center;
        height: 280px;
      }
      .message-card-top {
        display: flex;
        gap: 14px;
        border-bottom: 1px solid $gray-200;
        padding-bottom: 16px;
        .sender {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: flex-start;
        }
      }
      .content {
        width: 336px;
        height: 106px;
        color: $gray-600;
        margin: 16px 0 16px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 4; /* 4줄까지만 표시 */
        text-overflow: ellipsis; /* 끝에 ... 표시 */
        * {
          font-family: inherit;
          line-height: 1.4;
        }
      }
      .profile-img {
        width: 56px;
        height: 56px;
        border-radius: 50px;
        border: 1.5px solid #fff;
      }
      .date {
        color: $gray-400;
      }
    }
  }
}
