.Toggle {
  max-width: 244px;
}

.Toggle .Toggle_btn {
  width: 50%;
  height: 40px;
  border: none;
  padding: 7px 16px;
  border-radius: 6px;
  background: rgb(240, 240, 240);
  color: $gray-900;
  white-space: nowrap;
}

.Toggle_btn.active {
  border: 2px solid $purple-600;
  color: $purple-600;
  background-color: $white;
  font-weight: bold;
}
